@import url(//fonts.googleapis.com/css?family=Exo:100,200,400);

#loginBody{
	margin: 0;
	padding: 0;
	background: #fff;
	color: #fff;
	font-family: Arial;
	font-size: 12px;
}

#loginContainer{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: auto;
	height: auto;
	background-image: url(../images/background.png);
	background-size: cover;
	background-position:center;
	z-index: 0;
}

#loginGrad{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: auto;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	z-index: 1;
	opacity: 0.7;
}

#loginHeader{
	z-index: 2;
	text-align:center;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: 200;
	padding-top:40px;
}

#login-header-span{
	color: #5379fa !important;
}

.vertical-centering{
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

#loginBoxes{
	text-align:center;
	padding: 10px;
	z-index: 2;
}

#loginBoxes input[type=text]{
	width: 260px;
	height: 40px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

#loginBoxes input[type=password]{
	width: 260px;
	height: 40px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

#loginBoxes input[type=submit]{
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

#loginBoxes input[type=submit]:hover{
	opacity: 0.8;
}

#loginBoxes input[type=submit]:active{
	opacity: 0.6;
}

#loginBoxes input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

#loginBoxes input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

#loginBoxes input[type=submit]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}

#loginFail {
	position:absolute;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	width:100%;
	z-index:2;
	text-align:center;
}

#indexLeftColumn {
	position:fixed;
	float:left;
	background-color:#bac9fd;
	left:0;
	top:0;
	width:35%;
	bottom:0;
	border-style:solid;
	border-width:2px;
}

#indexRightColumn {
	position:fixed;
	float:right;
	background-color:#fff;
	right:0;
	top:0;
	width:65%;
	bottom:0;
	border-style:solid;
	border-width:2px;
}

.indexHeaderBar {
	position:static;
	margin-top:5px;
	height:35px;
	width:100%;
	border-bottom-style:solid;
	border-bottom-width:2px;
}

#indexOpenGamesHeader {
	position:absolute;
	text-align:center;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}

#indexOpenGamesJoinText {
	position:absolute;
	text-align:center;
	line-height:100vh;
	white-space:nowrap;
	width:100%;
}

#indexNameMessage {
	position:absolute;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	padding-top:6px;
	padding-left:10px;
}

#indexChangePassword {
	position:relative;
	float:right;
	margin-right:20px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	padding-top:6px;
}

#indexGameMaker {
	position:relative;
	float:right;
	margin-right:20px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	padding-top:6px;
}

#indexLogout {
	position:relative;
	float:right;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	padding-top:6px;
	margin-right:10px;
}

#loginWrapper {
	position:absolute;
	padding-bottom:25px;
	background:#EBF4FB;
	border:1px solid #ACD8F0;
	text-align:center;
	padding-left:35px;
	padding-right:35px;
	margin-top:37px;
	right:0;
	bottom:0;
	top:5px;
	left:0;
}

#loginChatbox {
	position:absolute;
	bottom:50px;
	top:25px;
	left:25px;
	right:25px;
	text-align:left;
	padding:10px;
	background:#fff;
	border:1px solid #ACD8F0;
	overflow:auto;
}

#loginUserMsg {
	width:100%;
	border:1px solid #ACD8F0;
	font:12px arial;
}

#loginTextWrapper {
	position:absolute;
	bottom:16px;
	right:100px;
	left:37px;
}

#loginSubmitMsg {
	position:absolute;
	bottom:16px;
	right:37px;
	font:12px arial;
}

#loginMenu {
	padding:12.5px 25px 12.5px 25px;
}

.indexMsgLn {
	margin:0 0 2px 0;
}

#indexForm {
	margin:0;
	padding:0;
}