<h1>Go fish</h1>

<h2>User info</h2>
<form novalidate class="simple-form">
    <input type="text" ng-model="user.name"/><br/>
    <input type="submit" ng-click="new_game(user)" value="New/Join Game"/>
</form>

<p>I am {{user.name}} and I have {{user.cards.length}} cards.</p>
<label><input type="checkbox" ng-model="is_turn"> Is it my turn?</label>

<h2>Request Card</h2>
<form novalidate class="simple-form">
    <label>From
        <select ng-model="req_from"
                ng-options="player.name for player in players">
        </select>
    </label><br/>
    <label>Card number
        <input type="number" ng-model="req_card.number"/><br/>
    </label>
    <label>Suit
        <select ng-model="req_card.suit"
                ng-options="suit for suit in game_info.card_info.suits">
        </select>
    </label><br/>
    <input type="submit" ng-click="request_card()" value="Request"/>
</form>


<h2>{{status}}</h2>

<h2>Cards</h2>
<ul>
    <li ng-repeat="card in user.cards">{{card.number}}, {{card.suit}}</li>
</ul>

<h2>Players</h2>
<ul>
    <li ng-repeat="player in players">{{player.name}}</li>
</ul>
